snippet copyPaste "CopyPasteMe"
endsnippet

snippet p "print"
print(${1})
endsnippet

snippet for "for"
for ${1:var} in ${2:coll}:
	${VISUAL}$0
endsnippet

snippet def "def"
def ${1:funcName}(${2:params}):
	${VISUAL}$0
endsnippet
